$shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.034),
  -1px -1px 1px 1px rgba(0, 0, 0, 0.034);
.orderItemCard {
  display: flex;
  box-shadow: $shadow;
  padding: 0.5em 1em;
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 1em;
  align-items: flex-start;
  justify-content: space-between;
  font-family: Roboto !important;
}
.card-info {
  width: 50%;
  display: flex;
  height: 10em;
  flex-wrap: wrap;
  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: small;
    width: 100%;
    margin-bottom: 0.2em;
  }
  .name {
    font-weight: bold;
    font-size: large !important;
  }
  .order-status {
    background-color: green;
    border-radius: 5px;
    padding: 0.2em;
    color: white;
    font-size: smaller;
    margin-top: auto;
  }
  .price {
    text-align: right;
    font-size: larger;
    color: green;
  }
}
.card-img {
  margin-right: 1em;
  width: 50%;
  height: 10em;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}
